// Font-family
$primary-font: 'Roboto', sans-serif;

// Colors
$codgray: #201D1D;
$mineshaft: #3C3939;
$persimmon: #ff5655;
$alto: #DCDBDB;
$concrete: #F3F2F2;
$pastelgreen: #81DA89;
$white: #ffffff;

$primary-color: $persimmon;
$secondary-color: $codgray;

